/*Telephone size*/
.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.img{
  width:100%;
  height:35vh;
  background-image:url('https://img.freepik.com/free-vector/sign-up-concept-illustration_114360-7875.jpg?w=2000');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.loginForm{
  background-color: rgba(255, 255, 255, 0.55);
  padding:15px;
  width:100%;
  height:calc(100vh - 35vh);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.example{
  display: flex;
  flex-direction: column;
  padding:5px;
  background-color: rgba(0, 128, 96, 0.304);
  
}
.h3{
 font-family:  sans-serif;
 margin-bottom: 5px;
 color:rgba(0, 128, 96, 0.959);
}
.p{
  font-style: italic;
  font-size:small;
  color:rgba(0, 128, 96, 0.959);
}
.input{
  display: flex;
  flex-direction: column;
  position: relative;
}
#email{
  width: 100%;
}
#password{
  width: 100%;
}
.botonLogin{
  margin-top:30px;
  background-color:purple;
  color:white;
}

.ojo{
  width:20px;
  position: absolute;
  right:12px;
  bottom:0px;
  background-color: transparent;
  border:none;
}
@media only screen and (min-width: 700px){
.container{
  flex-direction: row;
}
.img{
  height:100vh;
  width:60vw;
  background-position: center;
}
.loginForm{
  height:100vh;
  width:40vw;
  justify-content: space-around;
}
}
@media only screen and (min-width: 1000px){
  .img{
    width:70vw;
    background-position: center;
  }
  .loginForm{
    width:30vw;
  }
  
}